.rightWrap {
}
.handCard {
	display: inline-block;
	height: 100%;
}

#enemyHand {
	background-color: blue;
	height: 15%;
}
#enemyPoints{
	background-color: green;
	min-height: 24%;
	text-align: center;
}
#enemyRunes {
	background-color: red;
	min-height: 24%;
	max-height: 24%;
	text-align: center;
}
#yourHand {
	background-color: blue;
	height: 15%;
	text-align: center;
}
#yourPoints{
	background-color: green;
	min-height: 24%;
	text-align: center;
}
#yourRunes {
	background-color: red;
	min-height: 24%;
	text-align: center;
}
#ruleBox {
	overflow: auto;
	height: 40%;
}

#logBox {
	height: 60%;
}

#log {
	overflow: auto;
	height: 50%;
}

.fieldCard {
	text-align: left;
}
.handCard {
	text-align: center;
}

.stackedJack {
	height: 5%;
}

h2 {
	font-weight: 300;
	font-size: 45pt;
}

h1 {
	font-weight: 500;
	font-size: 75;
}
